{% extends "base.html" %}
{% block body %}

<div class="mx-auto">
{% for item in items %}
<div class="card mx-auto my-3" style="max-width: 600px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{ url_for('static', filename='images/'+item.image) }}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <p class="card-text"><span class="display-5"><strong>Today Price:</strong></span></p>
        <p class="card-text"><span class="display-3">${{ item.price }}</span></p>
        <div class="btn btn-group">
         <a href="{{ url_for('shop.item', item_id=item.id) }}" target="_blank" class="btn btn-primary">More Details</a>
        <form action="{{ url_for('shop.cart') }}" method="post" class="form-inline">
            <input type="hidden" name="item_id" value="{{ item.id }}">
            <button type="submit" class="btn btn-outline-success ml-2" title="Add to Cart"><span class="fa fa-cart-plus"></button>
        </form>    
        <form action="{{ url_for('shop.wish') }}" method="post" class="form-inline">
            <input type="hidden" name="item_id" value="{{ item.id }}">
            <button type="submit" class="btn btn-outline-danger ml-2" title="Add to Wish List"><span class="fa fa-star"></span></button>
        </form>    
        </div>

      </div>
    </div>
  </div>
</div>
{% endfor %}
</div>



{% endblock body %}