{% extends "base.html" %}
{% block head %}
    
<link rel="stylesheet" href="/assets/css/Login-Form-Dark.css">
{% endblock %}

{% block body %}
<div class="login-dark">
    <form method="post">
        <h2 class="sr-only">Register Form</h2>
        <div class="illustration"><i class="icon ion-ios-locked"></i></div>
        <div class="form-group"><input class="form-control" type="text" name="username" placeholder="Username"></div>
        <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Register</button></div>
    </form>
</div>
{% endblock %}


